<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Consent form</h1>
      <p>To continue, please accept this consent form.</p>
      <form method="post">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="confirm" value="yes"> I agree
          </label>
        </div>
        <input type="hidden" name="state" value="{{state}}" >
        <input type="submit" class="btn btn-lg btn-success" value="Submit">
      </form>
    </div>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body
